<ion-header>
    <ion-navbar>
        <ion-title>To Do List</ion-title>

        <ion-buttons end>
            <button ion-button solid icon-end color="secondary" (click)="addNewItem()">Add Item <ion-icon name="add"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <ion-list>
        <ion-item *ngFor="let item of itemList; let i = index" (click)="viewDetails(i)">
            {{ item.itemName }}

            <button ion-button item-end outline color="danger" (click)="deleteItem(i, $event);">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
