<ion-header>
    <ion-navbar>
        <ion-title>Ionic Data Sharing Service</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="has-header">
    <button ion-button (click)="changePage(event)" round>View List</button>
</ion-content>
