<ion-header>
    <ion-navbar>
        <ion-title>
            Item Details
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="has-header">
    <ion-list>
        <ion-item class="no-border">
            <ion-label stacked>Item Name</ion-label>
            <ion-input type="text" value="{{ itemName }}" [(ngModel)]="itemNameInput"></ion-input>
        </ion-item>

        <ion-item class="no-border">
            <ion-label stacked>Item Notes</ion-label>
            <ion-textarea value="{{ itemDesc }}" [(ngModel)]="itemDescInput"></ion-textarea>
        </ion-item>

        <ion-item>
            <button ion-button item-end (click)="saveItem();">Save</button>
            <button ion-button item-end color="danger" icon-end outline (click)="deleteItem();">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item>
    </ion-list>
</ion-content>
