page-listItem {
    ion-list ion-item.no-border {
        .item-inner{
            border-bottom: none !important;
            box-shadow: none !important;

            input, textarea {
                border-bottom: 1px solid #DEDEDE;
            }

            textarea {
                min-height: 150px;
            }
        }        
    }
}
